{% extends 'jordiazOfertixBannerBundle::layout.html.twig' %}

  {% block contenido %}

  <h1>{{ id }}</h1>
  <table border="1">

      <tr>
          <td>Titulo</td>
          <td>{{ titulo }} </td>
      </tr>
      <tr>
          <td>Alt</td>
          <td>{{ alt }}</td>
      </tr>
      <tr>
          <td>Path</td>
          <td>{{ path }}</td>
      </tr>
      <tr>
          <td>Href</td>
          <td>{{ href }}</td>
      </tr>
      <tr>
          <td>Tiempo</td>
          <td> {{tiempo}} </td>
      </tr>
     <tr>
          <td>Clicks</td>
          <td> {{clicks}} </td>
      </tr>
  </table>

 {% endblock %}
